<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      League Options
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        size-md="8" offset-md="2"
        size-lg="6" offset-lg="3"
      >
        <ion-list>
          <ng-container *ngIf="seasons$ | async as seasons">
            <ion-item *ngIf="seasons?.length > 0">
                <ion-label>Select a season</ion-label>
                <ion-select placeholder="Pick one!" (ionChange)="onChangeSeason(($event))">
                  <ion-select-option data-test="season-option-element" *ngFor="let season of seasons" [value]="season">
                    {{season}}
                  </ion-select-option>
                </ion-select>
            </ion-item>
          </ng-container>

          <ng-container *ngIf="countries$ | async as countries">
            <ion-item *ngIf="countries?.length > 0">
              <ng-container >
                <ion-label>Select a country</ion-label>
                <ion-select placeholder="Pick one!" (ionChange)="onChangeCountry($event)">
                  <ion-select-option data-test="country-option-element" *ngFor="let country of countries" [value]="country">
                    {{country}}
                  </ion-select-option>
                </ion-select>
              </ng-container>
            </ion-item>
          </ng-container>
          <ion-list *ngIf="leagues$ | async as leagues">
            <app-no-results-found *ngIf="leagues.length === 0"></app-no-results-found>
            <ng-container *ngIf="leagues.length > 0">
              <ion-item
                data-test="league-option-element"
                *ngFor="let league of leagues"
                routerLink="/teams"
                (click)="onSelectLeague(league.league.id)"
              >
                <ion-avatar slot="start">
                  <img [src]="league.league.logo" alt="logo">
                </ion-avatar>
                <ion-label>{{league.league.name}}</ion-label>
            </ion-item>
            </ng-container>
          </ion-list>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
