<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      League Standings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        size-md="8" offset-md="2"
        size-lg="6" offset-lg="3"
      >
        <ng-container *ngIf="standings$ | async as standings">
          <app-no-results-found *ngIf="standings.length === 0"></app-no-results-found>
          <ng-container  *ngIf="standings.length > 0">
            <h1 class="standings-page-heading" *ngIf="league$ | async as league">
              {{league.name}} {{league.season}} Standings
            </h1>
            <div class="table-container">

              <table class="standings-table" *ngIf="league$ | async as league">
                <thead>
                  <tr>
                    <th class="standings-table-header" *ngFor="let column of columns">{{column.name}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="standings-body-row" *ngFor="let standing of standings">
                    <td>{{standing.rank}}</td>
                    <td>
                      <a
                        [routerLink]="['/team-details']"
                        [queryParams]="{
                          season: league.season,
                          leagueId: league.id,
                          teamId: standing.team.id,
                          country: selectedCountry$ | async
                        }"
                      >
                        <span
                          class="team-cell"
                        >
                          <ion-avatar slot="start" class="team-logo">
                            <img [src]="standing.team.logo" alt="logo" appImgFallback>
                          </ion-avatar>
                          {{standing.team.name}}
                        </span>
                    </a>
                    </td>
                    <td>{{standing.all.played}}</td>
                    <td>{{standing.all.win}}</td>
                    <td>{{standing.all.draw}}</td>
                    <td>{{standing.all.lose}}</td>
                    <td>{{standing.all.goals.for}}</td>
                    <td>{{standing.all.goals.against}}</td>
                    <td>{{standing.goalsDiff}}</td>
                    <td>{{standing.points}}</td>
                  </tr>
                </tbody>
              </table>

            </div>

          </ng-container>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
