<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Team Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        size-md="8" offset-md="2"
        size-lg="6" offset-lg="3"
      >
      <ng-container *ngIf="{
          league: league$ | async,
          season: season$ | async,
          team: team$ | async,
          country: selectedCountry$ | async
        } as data;"
      >
        <ion-card *ngIf="data.team as team">
          <ion-item>
            <ion-avatar slot="start">
              <img [src]="team?.team?.logo" alt="logo" appImgFallback>
            </ion-avatar>
            <ion-label data-test="label-team-name">{{team.team.name}}</ion-label>
          </ion-item>
          <ion-card-content>
            Founded: {{team.team.founded}} | Stadium: {{team.venue.name}}
          </ion-card-content>
          <ion-card-content *ngIf="data.league as league">
            {{league.league.name}}
          </ion-card-content>
          <ion-card-content *ngIf="data.season as season">
            {{season}}
          </ion-card-content>
        </ion-card>
        <ion-list *ngIf="players$ | async as players">
          <app-no-results-found *ngIf="players.length === 0"></app-no-results-found>
          <ng-container *ngIf="players.length > 0">
            <ion-item
              *ngFor="let player of players"
              data-test="player-list-item"
              (click)="onSelectPlayer(player.player.id)"
              routerLink="/player-details"
              [queryParams]="{
                leagueId: data.league.league.id,
                season: data.season,
                teamId: data.team?.team.id,
                playerId: player.player.id,
                country: data.country
              }"
            >
            <ion-avatar slot="start">
              <img [src]="player.player.photo" alt="player image" appImgFallback>
            </ion-avatar>
            <ion-label>{{player.player.firstname}} {{player.player.lastname}}</ion-label>
          </ion-item>
          </ng-container>
        </ion-list>
        <ion-button
          *ngIf="morePlayersAreAvailable$ | async as showMore"
          expand="block"
          (click)="onClickShowMore()"
          data-test="show-more-btn"
        >
          Show More
        </ion-button>
      </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
