<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Teams
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        size-md="8" offset-md="2"
        size-lg="6" offset-lg="3"
      >
        <ng-container *ngIf="{
          league: league$ | async,
          season: season$ | async,
          country: selectedCountry$ | async
        } as data;">
          <p>{{country}}</p>
          <h1 class="team-list-header">
            {{data.league?.league?.name || ''}} {{data.season || ''}}
          </h1>

        <ion-list *ngIf="teams$ | async as teams">
          <app-no-results-found *ngIf="teams.length === 0"></app-no-results-found>
          <ng-container *ngIf="teams.length > 0">
            <ion-item
              *ngFor="let team of teams"
              data-test="team-list-item"
              [routerLink]="['/team-details']"
              [queryParams]="{
                leagueId: data.league.league.id,
                season: data.season,
                country: data.country,
                teamId: team.team.id
              }"
            >
              <ion-avatar slot="start">
                <img [src]="team.team.logo" alt="logo" appImgFallback>
              </ion-avatar>
              <ion-label>{{team.team.name}}</ion-label>
          </ion-item>
          </ng-container>
        </ion-list>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
