  /* ejh custom */
:root {
  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-color: var(--ion-color-primary-contrast);
  --ion-font-family: 'Open Sans', sans-serif;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey: #737373;
}
