<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      League Options
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        size-md="8" offset-md="2"
        size-lg="6" offset-lg="3"
      >

        <ng-container *ngIf="{
          league: league$ | async,
          season: season$ | async
          } as data"
        >
          <div *ngIf="data.league && data.season">
            <ion-list-header>
              <ion-label>{{data.league.league.name}}</ion-label>
            </ion-list-header>
            <ion-list-header>
              <ion-label>{{data.season}}</ion-label>
            </ion-list-header>

            <ion-list>
              <ion-item>
                <ion-label
                  data-test="label-view-teams"
                  routerLink="/teams"
                >
                  View Teams
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label
                  data-test="label-view-standings"
                  routerLink="/standings"
                  (click)="onSelectStandings({
                    leagueId: data.league.league.id,
                    season: data.season
                  })"
                >
                  View Standings
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
        </ng-container>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
