<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Football App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">League Options</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ng-container *ngIf="seasons$ | async as seasons">
      <ion-item *ngIf="seasons?.length > 0">
          <ion-label>Select a season</ion-label>
          <ion-select placeholder="Pick one!" (ionChange)="onChangeSeason(($event))">
            <ion-select-option data-test="season-option-element" *ngFor="let season of seasons" [value]="season">
              {{season}}
            </ion-select-option>
          </ion-select>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="countries$ | async as countries">
      <ion-item *ngIf="countries?.length > 0">
        <ng-container >
          <ion-label>Select a country</ion-label>
          <ion-select placeholder="Pick one!" (ionChange)="onChangeCountry($event)">
            <ion-select-option data-test="country-option-element" *ngFor="let country of countries" [value]="country">
              {{country}}
            </ion-select-option>
          </ion-select>
        </ng-container>
      </ion-item>
    </ng-container>

    <ion-list *ngIf="leagues$ | async as leagues">
      <ion-item data-test="league-option-element" *ngFor="let league of leagues" routerLink="/teams" (click)="onSelectLeague(league.league.id)">
        <ion-avatar slot="start">
          <img [src]="league.league.logo" alt="logo">
        </ion-avatar>
        <ion-label>{{league.league.name}}</ion-label>
      </ion-item>

    </ion-list>

  </ion-list>
</ion-content>
